In [11]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('student_stress_dataset 1.csv')
df1

,Student_ID,Age,Gender,Sleep_Hours,Study_Hours,Physical_Activity,Academic_Pressure,Financial_Stress,Social_Support
0,1,24,Female,6.6,8.4,87,2,2,7
1,2,21,Female,6.4,7.9,72,10,6,6
2,3,22,Male,3.2,6.2,34,9,1,5
3,4,24,Female,5.4,9.6,50,10,7,8
4,5,20,Female,5.7,2.8,83,7,7,3
...,...,...,...,...,...,...,...,...,...
995,996,22,Female,6.4,2.9,36,6,9,7
996,997,18,Female,7.0,8.8,21,5,8,10
997,998,21,Female,9.1,9.0,57,10,8,1
998,999,25,Male,9.9,2.8,67,6,1,2
999,1000,20,Female,5.9,7.6,92,3,5,4

In [13]:
df2 = pd.read_csv('student_lifestyle_dataset 2.csv')
df2

,Student_ID,Study_Hours_Per_Day,Extracurricular_Hours_Per_Day,Sleep_Hours_Per_Day,Social_Hours_Per_Day,Physical_Activity_Hours_Per_Day,GPA,Stress_Level
0,1,6.9,3.8,8.7,2.8,1.8,2.99,Moderate
1,2,5.3,3.5,8.0,4.2,3.0,2.75,Low
2,3,5.1,3.9,9.2,1.2,4.6,2.67,Low
3,4,6.5,2.1,7.2,1.7,6.5,2.88,Moderate
4,5,8.1,0.6,6.5,2.2,6.6,3.51,High
...,...,...,...,...,...,...,...,...
1995,1996,6.5,0.2,7.4,2.1,7.8,3.32,Moderate
1996,1997,6.3,2.8,8.8,1.5,4.6,2.65,Moderate
1997,1998,6.2,0.0,6.2,0.8,10.8,3.14,Moderate
1998,1999,8.1,0.7,7.6,3.5,4.1,3.04,High
1999,2000,9.0,1.7,7.3,3.1,2.9,3.58,High